* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*TITULO del HTML*/
.cabecera {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 15fr;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

/*Mensaje de FOTOS*/
.mensaje {
    text-align: center;
    font-size: 22px;
}

/*BOTONES de la seccion del titulo*/
button {
    background-color: grey;
    color: white;
    border-radius: 8px;
    padding: 5px 12px;
    float: left;
}

/*SECCION de las fotos encontradas*/
#seccion_img_pr {
    display: grid;
    font-size: 20px;
    margin-top: 5rem;
}

/*mensaje de CANTIDAD DE IMAGENES ENCONTRADAS*/
.mensaje2 {
    display: flex; 
}

.flex-container {
    display: grid;
    width: 98%;
    align-items: center;
}

/*Tablet*/
@media (min-width: 768px){
    .flex-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

/*Pantallas pequeñas ORdenador*/
@media (min-width: 992px){
    .flex-container {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 1rem;
    }
}

/*Pantalla grande*/
@media (min-width: 1200px){
    .flex-container {
        display: grid;
        grid-template-columns: repeat(4,2fr);
        gap: 1rem;
    }
}